/*@font-face {
	font-family: "RegencyScriptFLF Regular";
	src: url("http://site/fontes/RegencyScriptFLF-Regular.eot"); /* para IE */
	/*src: local("RegencyScriptFLF-Regular"), url("http://site/fontes/RegencyScriptFLF-Regular.ttf") format("opentype");
}*/

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    width: 100%;
    font-family: 'Itim', cursive;
    font: 16px;
    font-size: 16px;
}

hr {
    clear: both;
    border: 2px solid #E5989B;
    margin-bottom: 5px;
    margin-top: 5px;
}

thead {
    background-color: #B5838D;
}

tbody tr:nth-child(even){
   background-color: #FFB4A2;
}

th, td {
    border: solid #FFCDB2;
    padding: 2px;
}
/*
p:nth-child(even){
    font-style: oblique;
    color: springgreen;
}*/

ul, ol {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

#container {
   width: 800px;
   margin: 0 auto;
}

#tabela_ingredientes {
    width: 90%;
    margin-left: 5%;
}

.cabecalho {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 150px;
}

.cabecalho img {
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    width: 150px;
}

.cabecalho h1 {
    position: relative;
    text-align: center;
    margin-top: 60px;
}

.rodape {
    position: relative;
    display: inline-block;
    width: 100%;
}

.rodape img {
    float: left;
    margin-top: 0px;
    margin-left: 5px;
    width: 50px;
}

.rodape p {
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.topo_receitas {
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.topo_receitas img { 
    width: 200px;
    border-radius: 20%;
}
.topo_receitas p {
    vertical-align: middle;
    line-height: 50px;
    font-size: large;
}

.topo_receitas p img {
    width: 50px;
    vertical-align: middle;
}

.topo_receitas_posicao_icone {
  position: absolute;
  top: 5px;
  left: 0;
}

.topo_receitas_posicao_icone img {
  width: 50px;
}

.img_ingredientes {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
}
.img_preparo {
    margin-top: 20px;
    width: 70px;
}
.centralizar {
    text-align: center;
}